<% provide(:title, "Help") %>
<h1>FAQ</h1>
<div class= f-a-q-mainimg>
  <%= image_tag 'f_a_q.jpg',:size => '1528x400' %>
  <div class= f-a-q-coverimg></div>
</div>
  
<div class= faq>
  <div class= faq_form>
    <p>
      <%= image_tag 'sozai_cman_jp_q.png',:size => '50x40' %>
      アップロードする作品のジャンルに制限はありますか？
    </p>
    <p>
      <%= image_tag 'sozai_cman_jp_a2.png',:size => '50x40' %>
      ジャンルに制限はありません。ただし、アーティストご本人の作られた作品の画像をアップロードしてください。
    </p>
  </div>
  <p class= kugiri ></p>
  <div class= faq_form>
    <p>
      <%= image_tag 'sozai_cman_jp_q.png',:size => '50x40' %>
      作品の検索はできるのでしょうか？
    </p>
    <p>
      <%= image_tag 'sozai_cman_jp_a2.png',:size => '50x40' %>
      検索フォームに作品名を入れていただけると検索できます。また、作品につけられたタグにてお気に入りの作品を探すことができます。
    </p>
  </div>
</div>

